{% extends "@WEBUI/Layouts/main_layout.html.twig" %}
{% trans_default_domain 'Mealmatch' %}
{% block title %}Mealmatch | {{ 'contact.form.title'|trans }}{% endblock %}
{% block main_header_action %}<!--// NO ACTION //-->{% endblock %}
{% set main_header_subtitle %}<!--// NO SUBTITLE //-->{% endset %}
{% block jsHead %}
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
{% endblock %}
{% block page_js %}
    <script type="text/javascript">
        document.getElementById("submit-btn").disabled = true;

        function enableBtn(){
            document.getElementById("submit-btn").disabled = false;
        };

        function disableBtn(){
            document.getElementById("submit-btn").disabled = true;
        };
    </script>
{% endblock %}
{% block staticPages %}
    <div class="contact-form">
    {{ form_start(contact_form) }}
    {{ form_row(contact_form.name, { 'attr' : { 'class': 'tbox' } }) }}
    {{ form_row(contact_form.email, { 'attr' : { 'class': 'tbox' } }) }}
    {{ form_row(contact_form.subject, { 'attr' : { 'class': 'tbox' } }) }}
    {{ form_row(contact_form.message, { 'attr' : { 'class': 'tbox' } }) }}
        <div class="text-center">
            <button id="submit-btn" class="btn btn-lg btn-success" type="submit">
                <span class="glyphicon glyphicon-send"></span>
                {{ 'contact.form.button.label'|trans }}
            </button>
        </div>
        <div class="mm-spacer"></div>
        <div class="g-recaptcha pull-right" data-sitekey="6LcnDLIUAAAAALXtiUkPNOmAN4VSJH2Xkjggvx8f"
             data-callback="enableBtn"
             data-expired-callback="disableBtn"></div>


    {{ form_end(contact_form) }}
    </div>
{% endblock %}
