{% extends '@WEBUI/Layouts/mealmanager_main_layout.html.twig' %}
{% trans_default_domain 'Mealmatch' %}
{% block title %}Mealmatch | {{ 'invite.form.send.title'|trans }}{% endblock %}
{% block headerImg %}{% endblock %}
{% block doubleHeader %}{% endblock %}

{% block main_content %}
    <div class="invite-friend">
        <div class="invite-content">
            <i class="icon-check fa-4x" aria-hidden="true"></i>
            <h1>{{ 'invite.form.send.title'|trans }}</h1>
            {{ 'invite.form.send.message'|trans }}
            <i class="fa fa-home"><a href="{{ path('home') }}"> {{ 'layout.home'|trans }}</a></i>
        </div>
    </div>
{% endblock %}

