{% trans_default_domain 'Mealmatch' %}
<p>{{ 'joinrequest.created.mail.salutation'|trans({'%hostusername%': HOST.username }) }}</p>
<p>{{ 'joinrequest.accepted.mail.text.1'|trans({'%hostusername%': HOST.username, '%hostlastname%': HOST.profile.lastName, '%mealtitle%': MEAL.title}) }}</p>

{% if (JR.meal.sharedCost > 0) %}
    <p>{{ 'joinrequest.accepted.mail.text.pay'|trans }}</p>
    <p><a href="{{ url('joinrequest_payed', {'hash': JR.hash}) }}">{{ 'joinrequest.accepted.mail.text.pay2'|trans }}</a>
    </p>
{% else %}
    <p>{{ 'joinrequest.accepted.mail.text.free'|trans }}</p>
    <p>
        <a href="{{ url('joinrequest_payed', {'hash': JR.hash}) }}">{{ 'joinrequest.accepted.mail.text.free2'|trans }}</a>
    </p>
{% endif %}
<p></p>
<p>{{ 'JR.meal.location.text'|trans }}:</p>
<p>{{ HOST.profile.firstName }} {{ HOST.profile.lastName }}</p>
<p>{{ JR.meal.address.streetName }}, {{ JR.meal.address.streetNumber }}</p>
<p><b>{{ JR.meal.address.postalCode }}</b> {{ JR.meal.address.city }}</p>
<p></p>
<p>{{ 'JR.meal.wayto.text.start'|trans }} <a
            href="https://www.google.com/maps/dir/Current+Location/{{ JR.meal.locationString|url_encode }}">Link</a>
    {{ 'JR.meal.wayto.text.end'|trans }}folgen:</p>
<p>https://www.google.com/maps/dir/Current+Location/{{ JR.meal.locationString }}</p>
<p></p>
<p>{{ 'joinrequest.mail.yourteam'|trans }}</p>

{{ include('@Api/Emails/footer.html.twig') }}