{% trans_default_domain 'Mealmatch' %}


<div class="row">
    <div class="text-center">
        {% if joinRequest.createdBy.profile.imageName == "image/udefault.png" %}
            <img class="center-block img-responsive img-circle"
                 width="240px"
                 height="240px"
                 src="{{ asset('bundles/uipublic/images/mm/profilbild_default.png') }}" alt="Profileimage" />
        {% else %}
            <img class="center-block img-responsive img-circle"
                 width="240px"
                 height="240px"
                 src="{{ asset(joinRequest.createdBy.profile.imageName, 's3img') }}" />
        {% endif %}
        <p>Username: {{ joinRequest.createdBy }}</p>
    </div>
    <div class="text-justify">
        <h3>{{ 'joinrequest.accepted.message.from.guest-title'|trans }}</h3>
        <blockquote>{{ joinRequest.messageToHost }}</blockquote>
    </div>

    <div class="text-justify">
        <p>{{ 'joinrequest.accept.text-to-host'|trans }}</p>
    </div>
{% if joinRequest.extraGuest > 0 %}
    <div class="text-justify">
        <p>{{ 'joinrequest.accept.extraguests.notice'|trans }}</p>
        <p>{{ 'joinrequest.accept.extraguests.label'|trans }}: +{{ joinRequest.extraGuest }}</p>
    </div>
{% endif %}
</div>




{{ form_start(accepted_form) }}
{{ form_widget(accepted_form) }}
<div>
    <button class="btn btn-lg btn-success" type="submit">

        {{ 'joinrequest.accepted.submit'|trans }}
        <span class="glyphicon glyphicon-ok"></span>
    </button>
</div>
{{ form_end(accepted_form) }}

