{% trans_default_domain 'Mealmatch' %}

<footer class="mm-footer-xs visible-xs">
    <div class="col-xs-12 text-center">

        <div class="mm-footer-icons">
            <a href="mailto:info@company.com"><i class="fa fa-envelope-square" aria-hidden="true"></i></a>
            <a target="_blank" href="https://www.facebook.com/mealmatchme/"><i class="fa fa-facebook-square"
                                                                               aria-hidden="true"></i></a>
            <a target="_blank" href="https://www.instagram.com/mealmatchapp/"><i class="fa fa-instagram"
                                                                                 aria-hidden="true"></i></a>
            <a target="_blank" href="https://twitter.com/mealmatchapp"><i class="fa fa-twitter-square"
                                                                          aria-hidden="true"></i></a>
        </div>

        <div class="mm-footer-company-name">Mealmatch GmbH &copy; 2018.</div>
        <div class="mm-footer-links"><a data-toggle="modal"
                                        data-target="#mm-footer-modal">{{ 'footer.legal'|trans }}</a>
        </div>
    </div>
</footer>

<!--// Hidde on mobile //-->

<footer class="mm-footer-lg hidden-xs">
    <div class="row">
        <div class="col-xs-12">
            <div class="col-xs-2 col-xs-offset-1">
                <div class="mm-footer-header">{{ 'public-footer.head.mealmatch'|trans }}</div>
                <ul class="mm-footer-text nav">
                    <li><a href="{{ path('mm_about') }}">{{ 'public-footer.about'|trans }}</a></li>
                    <li><a href="{{ path('mm_career') }}">{{ 'public-footer.career'|trans }}</a></li>
                    <li><a href="{{ path('mm_press') }}">{{ 'public-footer.press'|trans }}</a></li>
                    <li><a href="//blog.mealmatch.de">{{ 'public-footer.blog-UpAndLowercase'|trans }}</a></li>
                    {#<li><a href="">Sitemap</a></li>#}
                </ul>
            </div>

            <div class="col-xs-2">
                <div class="mm-footer-header">{{ 'public-footer.head.hosts'|trans }}</div>
                <ul class="mm-footer-text nav">
                    <li><a href="{{ path('mm_how_it_works') }}">{{ 'public-footer.becomeGuest'|trans }}</a></li>
                    <li><a href="{{ path('mm_trust_security') }}">{{ 'public-footer.trustAndSecurity'|trans }}</a></li>
                    <li><a href="{{ path('mm_events') }}">{{ 'public-footer.events'|trans }}</a></li>

                    {% if is_granted('ROLE_USER') %}
                        <li>
                            <a href="{{ path('invite_email_show') }}">{{ 'public-footer.head.invidefriends'|trans }}</a>
                        </li>
                    {% endif %}
                </ul>
            </div>

            <div class="col-xs-2">
                <div class="mm-footer-header">{{ 'public-footer.head.legal'|trans }}</div>
                <ul class="mm-footer-text nav">
                    <li><a href="{{ path('mm_privacy') }}">{{ 'data.privacy.statement.label'|trans }}</a></li>
                    <li><a href="{{ path('mm_terms') }}">{{ 'terms.label'|trans }}</a></li>
                    <li><a href="{{ path("mm_imprint") }}">{{ 'imprint.label'|trans }}</a></li>
                </ul>
            </div>

            <div class="col-xs-1">
                <div class="mm-footer-header">{{ 'public-footer.cities'|trans }}</div>
                <div class="mm-footer-text"><a href="{{ path('public_meals_city', {'city': 'Köln'}) }}">Köln</a></div>
                <div class="mm-footer-text"><a href="{{ path('public_meals_city', {'city': 'Bonn'}) }}">Bonn</a></div>
            </div>

            <div class="col-xs-1">
                {% if app.request.get('_route') %}
                    <div class="mm-footer-header">{{ 'public-footer.language'|trans }}</div>
                    <div>
                        {% if app.request.get('_locale') %}
                            <ul class="mm-footer-text nav">
                                <li>
                                    <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'de'})) }}">{{ 'public-footer.language-german'|trans }}</a>
                                </li>

                                <li>
                                    <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'en'})) }}">{{ 'public-footer.language-english'|trans }}</a>
                                </li>
                            </ul>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="mm-spacer"></div>

    <div class="row">
        <div class="col-xs-12">

            <div class="col-xs-2 col-xs-offset-1">
                <div class="mm-footer-header">{{ 'public-footer.head.contactform'|trans }}</div>
                <div class="mm-footer-icons">
                    <a target="_blank" href="https://www.facebook.com/mealmatchme/"><i class="fa fa-facebook-square"
                                                                                       aria-hidden="true"></i></a>
                    <a target="_blank" href="https://www.instagram.com/mealmatchapp/"><i class="fa fa-instagram"
                                                                                         aria-hidden="true"></i></a>
                    <a target="_blank" href="https://twitter.com/mealmatchapp"><i class="fa fa-twitter-square"
                                                                                  aria-hidden="true"></i></a>
                </div>
                <ul class="mm-footer-text nav">
                    <li><a href="{{ path('contact_show_form') }}">{{ 'public-footer.writeUs'|trans }}</a></li>
                </ul>
            </div>

            <div class="col-xs-4">
                <div class="mm-footer-header">{{ 'public-footer.secure-mealmatching'|trans }}</div>

                <div class="mm-mangopay-logo-div">
                    <img class="mm-mangopay-logo-responsive"
                         src="/bundles/mmwebfront/images/mangopay/powered-by-mangopay-crop.png">
                </div>

                <div class="lock-background"><span class="icon-lock icon-lock-line"></span><span
                            class="icon-lock-line">SSL<sup>&hearts;</sup></span>
                </div>

            </div>
        </div>

    </div>
    </div>
    <div class="mm-footer-copyright text-center">
        <div class="mm-footer-line"></div>
        <p>Mealmatch GmbH &copy; 2018</p>
        <p style="font-size: xx-small">{{ app_name }} Version {{ app_version }}</p>
    </div>
</footer>

<!--// EOF: Hidde on mobile //-->

{% spaceless %}
    <div id="mm-footer-modal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="navigation">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">{{ 'public-footer.modal.title'|trans }}</h4>
                </div>
                <div class="modal-body">
                    <a target="_blank"
                       href="{{ path('mm_datenschutz') }}">{{ 'data.privacy.statement.label'|trans }}</a>
                    |
                    <a target="_blank" href="{{ path('mm_restaurant_terms') }}">{{ 'terms.label'|trans }} Restaurant</a>
                    |
                    <a target="_blank" href="{{ path('mm_terms') }}">{{ 'terms.label'|trans }}</a>
                    |
                    <a href="{{ path("mm_imprint") }}">{{ 'imprint.label'|trans }}</a>
                </div>
                <div class="modal-footer">

                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
{% endspaceless %}