{% trans_default_domain 'Mealmatch' %}


<table class="mm-table">
    <thead>
    <tr>
        <th class="col-xs-1">{{ 'meal.index.status.label'|trans }}</th>
        <th class="col-xs-3">Meal</th>
        <th class="col-xs-3">{{ 'meal.index.message.label'|trans }}</th>
        <th class="col-xs-2">{{ 'meal.index.guest.label'|trans }}</th>
        <th class="col-xs-3">{{ 'meal.index.available.actions.label'|trans }}</th>
    </tr>
    </thead>
    <tbody>
    {% for joinRequest in joinReqH %}
        <tr>
            <td class="col-xs-1">
                <div class="mm-meal-status">
                    <div class="mm-meal-status-icon fa fa-bullseye
                {% if joinRequest.status == 'ACCEPTED' %} mm-green
                    {#<span class="btn btn-success">{{ 'joinrequest.status.accepted'|trans }}</span>#}
                {% endif %}
                {% if joinRequest.status == 'DENIED' %} mm-red
                    {#<span class="btn btn-danger">{{ 'joinrequest.status.denied'|trans }}</span>#}
                {% endif %}
                {% if joinRequest.status == 'CREATED' %} mm-light-grey
                    {#<span class="btn btn-primary">{{ 'joinrequest.status.created'|trans }}</span>#}
                {% endif %}
                {% if joinRequest.status == 'PAYED' %} mm-green
                    {#<span class="btn btn-success">{{ 'joinrequest.status.payed'|trans }}"></span>#}
                {% endif %}
                {% if joinRequest.status == 'PAYMENT_FAILED' %} mm-red
                {% endif %}">
                    </div>
                    {% if joinRequest.status == 'ACCEPTED' %}
                        <p>{{ 'joinrequest.status.accepted'|trans }}</p>
                    {% endif %}
                    {% if joinRequest.status == 'DENIED' %}
                        <p>{{ 'joinrequest.status.denied'|trans }}</p>
                    {% endif %}
                    {% if joinRequest.status == 'CREATED' %}
                        <p>{{ 'joinrequest.status.created'|trans }}</p>
                    {% endif %}
                    {% if joinRequest.status == 'PAYED' %}
                        <p>{{ 'joinrequest.status.payed'|trans }}</p>
                    {% endif %}
                    {% if joinRequest.status == 'PAYMENT_FAILED' %}
                        <p>{{ 'joinrequest.status.payment_failed'|trans }}</p>
                    {% endif %}
                </div>
            </td>
            <td class="col-xs-3">
                <a href="#"
                   data-toggle="modal"
                   data-target="#mm-meal-modal-{{ joinRequest.id }}-{{ joinRequest.baseMeal.id }}">{{ joinRequest.baseMeal.title }}</a>
                <div id="mm-meal-modal-{{ joinRequest.id }}-{{ joinRequest.baseMeal.id }}"
                     class="mm-meal-modal modal fade" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-body">
                                {% set homeMeal = joinRequest.baseMeal %}
                                {{ include('@WEBUI/HomeMeal/Card/homemeal.html5.twig') }}
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->
            </td>
            <td class="col-xs-3">{{ joinRequest.messageToHost }}</td>

            <td class="col-xs-2">
                <div class="flexbox fl-wrap mm-user-icon-list">
                    <a href="#" data-toggle="modal"
                       data-target="#mm-userprofile-modal-{{ joinRequest.id }}-{{ joinRequest.createdBy.id }}">
                        {% set uProfile = joinRequest.createdBy.profile %}
                        {% set uAccount = joinRequest.createdBy %}
                        {% if uProfile.imageName == "image/udefault.png" %}
                            <img
                                    width="72ox" height="72px" border="0"
                                    class="mm-user-icon-small margin-right-half margin-bottom-half"
                                    src="{{ asset('bundles/uipublic/images/mm/profilbild_default.png') }}">
                        {% else %}
                            <img width="72px" height="72x" border="0"
                                 class="mm-user-icon-small margin-right-half margin-bottom-half"
                                 src="{{ asset(uProfile.imageName, 's3img') }}">
                        {% endif %}
                    </a>
                    {# ---WTF :) ---  #}{#{{ include(':mmuserprofile:partial.html.twig') }}#}
                </div>
            </td>
            <td class="col-xs-3">
                {% if joinRequest.status == 'CREATED' %}
                    <a href="{{ path('joinrequest_deny', { 'hash': joinRequest.hash }) }}">
                        <button class="btn btn-danger btn-155">{{ 'joinrequest.index.deny.label'|trans }}</button>
                    </a>
                    <a href="{{ path('joinrequest_accept', { 'hash': joinRequest.hash }) }}">
                        <button class="btn btn-success btn-155">{{ 'joinrequest.index.accept.label'|trans }}</button>
                    </a>
                {% endif %}
                {% if joinRequest.status == 'ACCEPTED' %}
                    {{ 'joinrequest.waitingforpayment'|trans }}
                {% endif %}
                {% if joinRequest.status == 'PAYED' %}
                    {{ 'joinrequest.payed'|trans }}
                {% endif %}
                {% if joinRequest.status == 'DENIED' %}
                    {{ 'joinrequest.denied'|trans }}
                {% endif %}
                {% if joinRequest.status == 'PAYMENT_FAILED' %}
                    {% for homeMealTicket in guestsHomeMealTickets %}
                        {% if homeMealTicket.baseMeal.id == joinRequest.meal.id %}
                            <a target="_blank" href="{{ path('api_mealticket_show', {'id': homeMealTicket.id}) }}">
                                <button class="btn btn-danger btn-block">
                                    {{ 'joinrequest.error'|trans }}
                                </button>
                            </a>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

