{% extends '@WEBUI/Layouts/main_layout.html.twig' %}
{% trans_default_domain 'Mealmatch' %}

{% set main_header_title = 'homemeal.manager.title'|trans %}
{% set main_header_subtitle = 'homemeal.manager.edit.subtitle'|trans %}
{% set main_header_action_path = path('api_homemeal_index') %}
{% set main_header_action_label %}
    <span class="glyphicon glyphicon-backward"></span> {{ 'meal.btn.backto-index.label'|trans }}
{% endset %}
{% set left_icon %}<span class="mm-circle-icon mm-icon-create-meal-circle"></span>{% endset %}

{% block main_content %}

    <div class="meal-creation">
        <div class="main-width">
            <div class="create-meal-accord">
                <form>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="panel-group" id="accordion">
                                <div class="panel panel-default">
                                    <div class="panel-heading" data-toggle="collapse"  data-parent="#accordion1" href="#collapse1">
                                        <h4 class="panel-title meal-creation-title">
                                            Meal Details
                                        </h4>
                                    </div>

                                    <div id="collapse1" class="panel-collapse collapse {% if selectedTab == 1 %} in {% endif %}">
                                    {#<div id="collapse1" class="panel-collapse collapse in ">#}
                                        {{ form_start(meal_form) }}
                                        <div class="panel-body">

                                            {{ form_row(meal_form.title) }}
                                            {{ form_row(meal_form.maxNumberOfGuest) }}
                                            {{ form_row(meal_form.sharedCost) }}
                                            {{ form_row(meal_form.sharedCostCurrency) }}
                                            {{ form_row(meal_form.description) }}
                                            {#<div class="button-div text-center">
                                                <a href="{{ path('api_homemeal_manager_update_meal', { 'id': homeMeal.id }) }}">
                                                    <button class="main-btn" type="submit">Save</button>
                                                </a>
                                            </div>#}
                                            <div class="button-div text-center">
                                                <button class="main-btn" type="submit">
                                                    {{ 'profile.registration.submit.label'|trans }}
                                                </button>
                                            </div>
                                        </div>
                                        {{ form_end(meal_form) }}
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading" data-toggle="collapse" data-parent="#accordion2" class="" href="#collapse3">
                                        <h4 class="panel-title meal-creation-title date-title">
                                            Date and Time
                                        </h4>
                                    </div>
                                    <div id="collapse3" class="panel-collapse collapse {% if selectedTab == 3 %} in {% endif %}">
                                    {#<div id="collapse3" class="panel-collapse collapse in">#}
                                        <div class="panel-body">
                                            <div class="date-table table-responsive">
                                                <table class="table">
                                                    <thead>
                                                    <tr>
                                                        <th>From</th>
                                                        <th>To</th>
                                                        <th>Actions</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% if homeMeal.mealEvents.count > 0 %}
                                                        {% for mealEvent in homeMeal.mealEvents %}
                                                            {{ form_start(eventForms[loop.index0]) }}
                                                            <tr>
                                                                <td>{{ form_widget(eventForms[loop.index0].startDateTime) }}</td>
                                                                <td>{{ form_widget(eventForms[loop.index0].endDateTime) }}</td>
                                                                <td>{{ include('@UIMealManager/MealCreation/safeOrRemove.html.twig',
                                                                        {'idx': loop.index0, 'eventID': mealEvent.id, 'mealID': homeMeal.id}) }}</td>
                                                            </tr>
                                                            {{ form_end(eventForms[loop.index0]) }}
                                                        {% endfor %}
                                                    {% endif %}
                                                    {% if homeMeal.isRootNode and homeMeal.mealEvents.count < 5 %}
                                                        <tr>
                                                            <td colspan="3" class="text-center">
                                                                <div class="add-period">
                                                                    <a href="{{ path('api_homemeal_manager_addEvent', { 'id': homeMeal.id }) }}">
                                                                        <button class="period-btn" type="button"> <span class="add-icon"> <i class="fa fa-plus"></i></span> {{ 'promeal.addEvent.label'|trans }}</button>
                                                                    </a>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    {% endif %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
