{% extends "@WEBUI/Layouts/main_layout.html.twig" %}
{% trans_default_domain 'Mealmatch' %}
{% block title %}Mealmatch | {{ 'help.title'|trans }}{% endblock %}
{% set currentTitle = 'help.title'|trans %}
{% set left_icon %}<span class="mm-circle-icon mm-icon-help-circle"></span>{% endset %}
{% block main_header_action %}<!--// NO ACTION //-->{% endblock %}
{% set main_header_subtitle %}{{ 'help.subtitle'|trans }}{% endset %}

{% block staticPages %}
    <div class="faq">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <p class="content-career-title">{{ 'help.paragraph1.head'|trans }}</p>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="heading1">
                    <a class="collapsed faq-tab" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="false" aria-controls="collapseOne">
                        <h4 class="panel-title">
                            {{ 'help.paragraph1.title1'|trans }}
                        </h4>
                    </a>
                </div>
                <div id="collapse1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1">
                    <div class="panel-body">
                        {{ 'help.paragraph1.text1'|trans }}
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="heading2">
                      <a class="collapsed faq-tab" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="false" aria-controls="collapseTwo">
                          <h4 class="panel-title">
                                {{ 'help.paragraph1.title2'|trans }}
                          </h4>
                      </a>
                </div>
                <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
                    <div class="panel-body">
                        {{ 'help.paragraph1.text2'|trans }}
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="heading3">
                    <a class="collapsed faq-tab" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="false" aria-controls="collapseThree">
                        <h4 class="panel-title">
                            {{ 'help.paragraph1.title3'|trans }}
                        </h4>
                    </a>
                </div>
                <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading3">
                    <div class="panel-body">
                        {{ 'help.paragraph1.text3'|trans }}
                    </div>
                </div>
            </div>
            <br>
            <p class="content-career-title">{{ 'help.paragraph2.head'|trans }}</p>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="heading4">
                    <a class="collapsed faq-tab" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false" aria-controls="collapseThree">
                        <h4 class="panel-title">
                            {{ 'help.paragraph2.title1'|trans }}
                        </h4>
                    </a>
                </div>
                <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading4">
                    <div class="panel-body">
                        {{ 'help.paragraph2.text1'|trans }}
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="heading5">
                    <a class="collapsed faq-tab" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="false" aria-controls="collapseThree">
                        <h4 class="panel-title">
                            {{ 'help.paragraph2.title2'|trans }}
                        </h4>
                    </a>
                </div>
                <div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading5">
                    <div class="panel-body">
                        {{ 'help.paragraph2.text2'|trans }}
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="heading6">
                    <a class="collapsed faq-tab" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse6" aria-expanded="false" aria-controls="collapseThree">
                         <h4 class="panel-title">
                             {{ 'help.paragraph2.title3'|trans }}
                         </h4>
                     </a>
                </div>
                <div id="collapse6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading6">
                    <div class="panel-body">
                        {{ 'help.paragraph2.text3'|trans }}
                    </div>
                </div>
            </div>
            <br>
            <p class="content-career-title">{{ 'help.paragraph3.head'|trans }}</p>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="heading7">
                    <a class="collapsed faq-tab" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse7" aria-expanded="false" aria-controls="collapseThree">
                         <h4 class="panel-title">
                             {{ 'help.paragraph3.title1'|trans }}
                         </h4>
                     </a>
                </div>
                <div id="collapse7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading7">
                    <div class="panel-body">
                        {{ 'help.paragraph3.text1'|trans }}
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="heading8">
                    <a class="collapsed faq-tab" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse8" aria-expanded="false" aria-controls="collapseThree">
                         <h4 class="panel-title">
                             {{ 'help.paragraph4.title1'|trans }}
                         </h4>
                     </a>
                </div>
                <div id="collapse8" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading8">
                    <div class="panel-body">
                        {{ 'help.paragraph4.text1'|trans |raw}}
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="heading9">
                    <a class="collapsed faq-tab" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse9" aria-expanded="false" aria-controls="collapseThree">
                         <h4 class="panel-title">
                             {{ 'help.paragraph4.title2'|trans }}
                         </h4>
                     </a>
                </div>
                <div id="collapse9" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading9">
                    <div class="panel-body">
                        {{ 'help.paragraph4.text2'|trans }}
                    </div>
                </div>
            </div>
        </div>
        <p class="career-left">{{ 'help.paragraph_security.title1'|trans }} <a href="mailto:info@mealmatch.de">info@mealmatch.de</a></p>
    </div>
{% endblock %}