{#
    to be included ... shows all available actions for current homemeal.
#}
{% trans_default_domain 'Mealmatch' %}

<div class="margin-bottom-half meal-actions">
    {% for transition in workflow_transitions(meal) %}
        <a class="meal-action-btn" href="{{ path('doTransitionBaseMeal', { 'id': meal.id, 'transition': transition.name }) }}">
            <button class="btn btn-block btn-success">
                <!-- Bereitstellen -->
                {% if transition.name == "restart_meal" %}
                    <i class="fa fa-long-arrow-up" aria-hidden="true"></i>

                    <!-- Veröffentlichen -->
                {% elseif transition.name == "start_meal" %}
                    <i class="icon-globe"></i>

                    <!-- Stoppen -->
                {% elseif transition.name == "stop_meal" %}
                    <i class="fa fa-hourglass-o"></i>
                {% endif %}
                {{ ('transition.' ~ transition.name)|trans }}
            </button>
        </a>
    {#{% else %}#}
       {#<p class="mm-footer-text">{{ 'promeal.running.promeal.action.claim'|trans }}</p>#}
        <div class="margin-bottom-half hidden-xs"></div>
    {% endfor %}
    {# Default is WHITE BTN #}
    {% set publicUrlBtnClass %}btn-white{% endset %}
    {% set fbBtnClass %}btn-white{% endset %}
    {% set editBtnClass %}btn-white{% endset %}

    {% if meal.status == 'RUNNING' %}
        {% set publicUrlBtnClass %}btn-white{% endset %}
        {% set fbBtnClass %}btn-white{% endset %}
        {% set editBtnClass %}btn-disabled{% endset %}
    {% endif %}
    {% if meal.status == 'STOPPED' %}
        {% set fbBtnClass %}btn-white{% endset %}
        {% set publicUrlBtnClass %}btn-white{% endset %}
        {% set editBtnClass %}btn-white{% endset %}
    {% endif %}
    {% if meal.status == 'READY' %}
        {% set fbBtnClass %}btn-white{% endset %}
        {% set publicUrlBtnClass %}btn-white{% endset %}
        {% set editBtnClass %}btn-white{% endset %}
    {% endif %}

    <div class="flexbox promeal-actions">
        <a name="meal_edit_link" href="{{ path('api_promeal_manager_show', {'id': meal.id}) }}">
            <button class="meal-action-view btn btn-smaller {{ publicUrlBtnClass }}"><i class="icon-eye"></i></button>
        </a>
        {% if meal.status == 'RUNNING' %}
            {% if meal.guests|length > 0 %}
                <a name="meal_edit_link"  href="#" onclick="mmUI.showTWBSDialog('Hinweis!',
                    'Für dieses Restaurant-Meal haben sich bereits Gäste angemeldet! ' +
                     'Es kann nicht mehr bearbeitet oder gestoppt werden.')">
                    <button class="meal-action-edit btn btn-smaller {{ editBtnClass }}"><i class="icon-settings"></i></button>
                </a>
            {% else %}
                <a name="meal_edit_link"  href="#" onclick="mmUI.showTWBSDialog('Hinweis!',
                    'Du kannst ein laufendes Meal nicht bearbeiten, bitte Stoppe es zuerst!')">
                    <button class="meal-action-edit btn btn-smaller {{ editBtnClass }}"><i class="icon-settings"></i></button>
                </a>
            {% endif %}
        {% else %}
            <a name="meal_edit_link" href="{{ path('api_promeal_manager_edit', {'id': meal.id}) }}">
                <button class="meal-action-edit btn btn-smaller {{ editBtnClass }}"><i class="icon-settings"></i></button>
            </a>
        {% endif %}
        <a class="fb-xfbml-parse-ignore" target="_blank"
           href="https://www.facebook.com/sharer/sharer.php?u={{ url('public_promeal_hostname_mealtitle_id',
               {'hostName': meal.host.username, 'mealTitle': meal.title, 'mealID': meal.id} ) }}&amp;src=sdkpreparse">
            <button class="meal-action-facebook btn btn-smaller {{ fbBtnClass }}"><i class="icon-social-facebook"></i></button>
        </a>
    </div>

</div>
