{% trans_default_domain 'Mealmatch' %}
<style>
    .carousel-inner{
        height: 100%;
    }
</style>
<div id="bigSlideXS" class="carousel slide" data-ride="carousel" data-intervall="3500" data-pause="hover">
    <div class="carousel-inner" role="listbox">
        <div id="big-slide-xs-1" class="item active">
            <div class="mm-sliderTextBox">
                <p class="mm-sliderText">{{ 'slider.slide1.text'|trans }}</p>
            </div>
            <img class="img-responsive center-block" src="{{ asset('bundles/uipublic/images/slider/slider1_.jpg') }}" alt="Snacks" />
        </div>
        <div id="big-slide-xs-2" class="item">
            <div class="mm-sliderTextBox">
                <p class="mm-sliderText">{{ 'slider.slide2.text'|trans }}</p>
            </div>
            <img class="img-responsive center-block" src="{{ asset('bundles/uipublic/images/slider/slider2_.jpg') }}" alt="Snacks" />
        </div>
        <div id="big-slide-xs-3" class="item">
            <div class="mm-sliderTextBox">
                <p class="mm-sliderText">{{ 'slider.slide3.text'|trans }}</p>
            </div>
            <img class="img-responsive center-block" src="{{ asset('bundles/uipublic/images/slider/slider3_.jpg') }}" alt="Snacks" />
        </div>
        <div id="big-slide-xs-4" class="item">
            <div class="mm-sliderTextBox">
                <p class="mm-sliderText">{{ 'slider.slide4.text'|trans }}</p>
            </div>
            <img class="img-responsive center-block" src="{{ asset('bundles/uipublic/images/slider/slider4_.jpg') }}" alt="Snacks" />
        </div>
        <div id="big-slide-xs-5" class="item">
            <div class="mm-sliderTextBox">
                <p class="mm-sliderText">{{ 'slider.slide5.text'|trans }}</p>
            </div>
            <img class="img-responsive center-block" src="{{ asset('bundles/uipublic/images/slider/slider5_.jpg') }}" alt="Snacks" />
        </div>

    </div>
</div>