{% extends "@MMWebFront/Layout/startpage.html.twig" %}
{% trans_default_domain 'Mealmatch' %}

{% block layout_body %}

        {{ parent() }}
        <div class="visible-xs">
            {{ include('MMWebFrontBundle:Partials:bigSlide-xs.partial.html.twig') }}
            {{ include('@MealmatchRestaurantWebFront/index/body-xs.html.twig') }}
        </div>
        <div class="hidden-xs">
            {{ include('MMWebFrontBundle:Partials:bigSlide.partial.html.twig') }}
            {{ include('@MealmatchRestaurantWebFront/index/body.html.twig') }}
        </div>

{% endblock %}

{% block GA %}
    {% spaceless %}
<!-- Google Analytics -->
<script type="text/javascript">
{% block GA_inner %}
{{ parent() }}
ga('variationsTracker.set', 'variation', 'restaurant-a');

{% if is_granted('ROLE_USER') %}
ga('variationsTracker.set', 'userid', '{{ app.user.id }}');
{% endif %}

ga('variationsTracker.send');
{% endblock GA_inner %}
</script>
        {% endspaceless %}
{% endblock GA %}

